@import "variables.less";

.banner-secondary {
  background-image : url("app/img/patterns/ag-square.png");
  background-repeat: repeat;
  background-color : @body-bg;
  padding          : @padding-large-vertical*4 @padding-large-horizontal;

}

.clickable {
  opacity: 0.6;

  &:hover {
    cursor : pointer;
    opacity: 1;

    .banner-secondary {
      // background-color: @gray-lighter;
    }
  }
}

h1 {
  // font-size: @font-size-h1*1.2;
  color: @gray-dark;
}

h3,
h4 {
  color: @gray-dark;
}

p {
  white-space: pre-wrap;
  color      : @gray-dark;
}

.icon-pad {
  color         : @gray-dark;
  padding-top   : @padding-large-vertical*2;
  padding-bottom: @padding-xs-vertical;
}

.btn-link {
  padding-top   : @padding-large-vertical;
  padding-bottom: @padding-large-vertical;
  color         : @text-color;

  &:focus,
  &:hover {
    color           : @text-color;
    text-decoration : @link-hover-decoration;
    background-color: transparent;
  }
}
