@import "variables";

@banner-height: 400px;
@inner-padding: @banner-height/2;

.splash {
  background-image: url("app/img/splash/header.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: @banner-height;
}

.inner-box {
  // padding: @inner-padding;
  margin-top: @inner-padding;
  margin-bottom: @inner-padding;
  text-align: center;
  vertical-align: center;
}


h1 {
  font-size: @font-size-h1*1.2;
}

.vertical-center {
  vertical-align: middle;
}
