@import "variables.less";

.banner-tertiary {
  background-color : @gray-dark;
  background-image : url("app/img/patterns/dark-brick-wall.png");
  background-repeat: repeat;
  padding          : @padding-large-vertical*4 @padding-large-horizontal;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

h1 {
  // font-size: @font-size-h1*1.2;
  color: @gray-lighter;
}

h3,
h4 {
  color: @gray-lighter;
}

p {
  white-space: pre-wrap;
  color      : @gray-lighter;
}

.icon-pad {
  color         : @gray-lighter;
  padding-top   : @padding-large-vertical*2;
  padding-bottom: @padding-xs-vertical;
}

.btn-link {
  padding-top   : @padding-large-vertical;
  padding-bottom: @padding-large-vertical;
  color         : @gray-lighter;

  &:focus,
  &:hover {
    color           : @gray-lighter;
    text-decoration : @link-hover-decoration;
    background-color: transparent;
  }
}
