.banner-primary {
  padding-bottom: 56px;
  padding-top: 56px;
  padding-left: 16px;
  padding-right: 16px;
}
h1 {
  font-size: 61.5px;
  color: #4582EC;
}
h3 {
  color: #4582EC;
}
.icon-pad {
  color: #4582EC;
  padding-top: 28px;
  padding-bottom: 1px;
}
.btn-link {
  padding-top: 14px;
  padding-bottom: 14px;
  color: #4582EC;
}
.btn-link:hover,
.btn-link:focus {
  color: #134fb8;
  text-decoration: underline;
  background-color: transparent;
}
