.banner-secondary {
  background-color: #eeeeee;
  padding-bottom: 28px;
  padding-top: 28px;
  padding-left: 16px;
  padding-right: 16px;
}
h1 {
  font-size: 61.5px;
  color: #333333;
}
h3 {
  color: #333333;
}
p {
  white-space: pre-wrap;
  color: #333333;
}
.icon-pad {
  color: #333333;
  padding-top: 28px;
  padding-bottom: 1px;
}
.btn-link {
  padding-top: 14px;
  padding-bottom: 14px;
  color: #333333;
}
.btn-link:hover,
.btn-link:focus {
  color: #333333;
  text-decoration: underline;
  background-color: transparent;
}
