<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="text-center text-primary">Thank You</h1>
        <h3 class="text-center">As you can imagine building a house is expensive!
          <br>
          We appreciate any and all help we can get.
        </h3>
        <p>
          We will redirect you to a page where you can enter your preferred amount and method of payment. All our payments are secure and are handled by PayPal.
        </p>
        <br>
        <a target="_blank" class="btn btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DLYCJ7SMYCM28">Donate now</a>
      </div>
    </div>
  </div>
</div>
