<div class="cover cover-desktop hidden-xs hidden-sm" (click)="scrollToContent()">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="app/img/logo/resurgens-main.png" class="img-responsive center-block cover-hide animate" height="200px" width="200px">
        <h1 class="cover-hide animate">{{homeData.main.title}}</h1>
        <h3 class="cover-hide animate">{{homeData.main.description}}</h3>
        <br>
        <!-- <i class="fa fa-arrow-down fa-2x cover-hide animate"></i> -->
        <br>
      </div>
    </div>
  </div>
</div>
<div class="cover-mobile cover hidden-md hidden-lg" (click)="scrollToContent()">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="app/img/logo/resurgens-main.png" class="img-responsive center-block" height="200px" width="200px">
        <h1 class="">{{homeData.main.title}}</h1>
        <h3 class="">{{homeData.main.description}}</h3>
        <br>
        <!-- <i class="fa fa-arrow-down fa-2x"></i> -->
        <br>
      </div>
    </div>
  </div>
</div>
<div class="top">

</div>
<tertiary-banner [title]="homeData.sprawl.title" [description]="homeData.sprawl.description" [text]="homeData.sprawl.text">
</tertiary-banner>
<secondary-banner [title]="homeData.low_water.title" [description]="homeData.low_water.description" [text]="homeData.low_water.text">
</secondary-banner>
<tertiary-banner [title]="homeData.high_cost.title" [description]="homeData.high_cost.description" [text]="homeData.high_cost.text">
</tertiary-banner>
<secondary-banner [title]="homeData.water_war.title" [description]="homeData.water_war.description" [text]="homeData.water_war.text">
</secondary-banner>
<image-banner [imageUrl]="'app/img/house/rendering.jpg'" [tint]="false"></image-banner>
<alternate-banner [title]="homeData.soln.title" [description]="homeData.soln.description" [manifesto]="homeData.soln.manifesto" [text]="homeData.soln.text">
</alternate-banner>
<secondary-banner [title]="homeData.pv_system.title" [description]="homeData.pv_system.description" [text]="homeData.pv_system.text">
</secondary-banner>
<tertiary-banner [title]="homeData.water_system.title" [description]="homeData.water_system.description" [text]="homeData.water_system.text">
</tertiary-banner>
<secondary-banner [title]="homeData.iot_system.title" [description]="homeData.iot_system.description" [text]="homeData.iot_system.text">
</secondary-banner>
<tertiary-banner [title]="homeData.efficient.title" [description]="homeData.efficient.description" [text]="homeData.efficient.text">
</tertiary-banner>
