<div class="container-fluid splash" [ngStyle]="{ 'background-image': 'linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(' + imageUrl + ')'} " *ngIf="!!tint">
  <div class="row ">
    <div class="col-md-8 col-md-offset-2 ">
      <div class="inner-box ">
        <h1 *ngIf="title">{{title}}</h1>
        <h3 *ngIf="description">{{description}}</h3>
        <a *ngIf="button" class="btn btn-primary " routerLink="/support ">Sponsor us</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid splash " [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')'} " *ngIf="!tint ">
  <div class="row ">
    <div class="col-md-8 col-md-offset-2 ">
      <div class="inner-box ">
        <h1 *ngIf="title">{{title}}</h1>
        <h3 *ngIf="description">{{description}}</h3>
        <a *ngIf="button" class="btn btn-primary " routerLink="/support ">Sponsor us</a>
      </div>
    </div>
  </div>
</div>
