<div class="top"></div>
<alternate-banner [title]="title" [description]="description" [text]="''">
</alternate-banner>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="media-list">
          <li class="media" *ngFor="let release of releases" (click)="goToPressRelease(release.id)">
            <a class="pull-left" href="#"><img class="img-rounded media-object" src="{{release.thumbnail}}"></a>
            <div class="media-body">
              <h4 class="media-heading">{{release.title}}</h4>
              <p>{{release.description}}</p>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
