<div class="top"></div>
<alternate-banner [title]="title" [description]="description" [text]="''">
</alternate-banner>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="media-list">
          <li class="media" *ngFor="let release of releases" (click)="goToLink(release.link)">
            <!-- <a class="pull-left" href="#"><img class="img-rounded media-object" src="{{release.thumbnail}}"></a> -->
            <div class="media-body">
              <h4 class="media-heading">{{release.title}}</h4>
              <p>{{release.description}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
