<div class="container-fluid banner-primary">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="app/img/logo/resurgens-main.png" class="img-responsive center-block" height="200px" width="200px">
      <h1 class="text-primary">Resurgens</h1>
      <h3 class="text-muted">One house. One System. Zero waste.</h3>
      <a class="btn btn-link" *ngIf="false">Learn more</a>
      <!-- <a href="#/"><i class="fa fa-2x fa-fw fa-arrow-circle-down icon-pad"></i></a> -->
    </div>
  </div>
</div>
<banner-secondary></banner-secondary>
<banner-tertiary></banner-tertiary>
