<!-- <alternate-banner [title]="'Support, Sponsor & Contribute'" [description]="'We need all the help we can to build the house.'" [manifesto]="''" [text]="''">
</alternate-banner> -->
<div class="top"></div>
<image-banner [title]="'Support, Sponsor & Contribute'" [description]="'We need all the help we can to build the house.'" imageUrl="'app/img/splash/blue.jpeg'">
</image-banner>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Individual</h2>
        <p>
          As you can imagine, building a house is very expensive. We appreciate and accept any and all help. If you want to make a personal contribution to the Resurgens house click on the green button below. Don't worry all our payments are handled by a secure
          PayPal channel.
          <br> Thank you.
        </p>
        <br>
        <a target="_blank" class="btn btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DLYCJ7SMYCM28">Contribute now</a>
        <hr>
        <!-- <br> -->
        <h2>Organization</h2>
        <p>
          If you are an organisation and wish to sponsor us check out our sponsorship packages below, we would love to hear from you. And if you feel your expertise may be of help in other ways please don't hesitate to reach out to us. Like we said, we appreciate
          and accept any and all help.
          <br> Thank you.
        </p>
        <br>
        <!-- <div class="btn-group"> -->
        <a target="_blank" class="btn btn-warning" href="app/files/sponsorship_strata.pdf">Sponsorship Packages</a>
        <!-- <a href="mailto:hello@resurgenshome.com" class="btn btn-default">Contact Us</a> -->
        <!-- </div> -->
        <hr>
        <p>
          Have any other questions? Have other information for us? Or want to learn more about the project? Click the button below to send us an email and we will get back to you in a jiffy!
        </p>
        <br>
        <a href="mailto:hello@resurgenshome.com" class="btn btn-default">Contact us</a>
      </div>
    </div>
  </div>
</div>
