<!-- <div class="cover">
  <div class="cover-image"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisici eli.</p>
        <br>
        <br>
        <a class="btn btn-lg btn-default">Click me</a>
      </div>
    </div>
  </div>
</div> -->
<div class="top"></div>
<image-banner [title]="'Our Team'" [description]="'We are a group of skilled individuals.'" [imageUrl]="'app/img/team/team.jpg'">
</image-banner>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Meet the makers</h2>
        <br>
        <p>
          Lorem ipsum dolor sit amet, idque dicit duo cu, mentitum suscipit electram pro ut, ad convenire ocurreret maiestatis sea. Alia verterem antiopam an qui. Ius nisl dicit propriae ex. Ne vim omnis scaevola concludaturque, vel alia erant impedit te, per alii
          omnesque an. Eu pri aperiam invidunt. Eu tollit oporteat vulputate vix, primis scripta ea mea.
        </p>
        <p>
          Epicuri imperdiet abhorreant pro te, in quo epicurei instructior, ius purto minimum in. Ne possim interpretaris sea, eu propriae intellegebat sea. Ei per iisque praesent, at quo tantas voluptatibus. Graece abhorreant sea eu. Est altera voluptatum id.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section no-gutter">
  <div class="container-fluid no-gutter">
    <div class="row no-gutter">
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/header.png" class="img-responsive" />
      </div>
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/blue.jpeg" class="img-responsive" />
      </div>
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/header.png" class="img-responsive" />
      </div>
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/blue.jpeg" class="img-responsive" />
      </div>
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/header.png" class="img-responsive" />
      </div>
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/blue.jpeg" class="img-responsive" />
      </div>
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/header.png" class="img-responsive" />
      </div>
      <div class="col-md-3 col-sm-6 team-tile">
        <img src="app/img/splash/blue.jpeg" class="img-responsive" />
      </div>
    </div>
  </div>
</div>
<!-- <div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-th-large text-primary"></i>
        <h2>Electrical</h2>
        <p>The Electrical Team meets the home’s sustainability and energy efficiency goals by maximizing energy output and minimizing energy consumption. The team incorporates the electrical systems with the Computing Team’s IoT system, while also optimizing
          the technology used in the house’s solar PV system to maximize energy output in Atlanta’s temperate climate.&nbsp;
          <br>
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-cog text-primary"></i>
        <h2>Mechanical</h2>
        <p>The Mechanical Systems Team brings the comfort factor. Together, they design and incorporate systems that allow the home to dynamically adjust to the user's habits and preferences. Their work focuses on three main components: an efficient HVAC
          with variable motor fans and reliable humidity control; heat recovery systems; and research on phase-change materials and how to effectively implement them into the home.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-refresh text-primary"></i>
        <h2>Computing</h2>
        <p>The Computing Team creates the educational component with their IoT system. This system tracks user habits and energy consumption levels, while also providing feedback to educate the user and influence them to adopt more sustainable, conservative
          routines. With the team’s work, we not only build a sustainable house, but also a sustainable citizen.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-home text-primary"></i>
        <h2>Architecture
          <br>
        </h2>
        <p>The Architecture Team develops the design and layout of the house and integrates the passive and active systems into a comfortable and livable setting. From conception and ideation to direct partnerships with other teams, they ensuring the feasibility
          and effectiveness of the design at every stage. Through their vision and effort, the design comes to life.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-heart text-primary"></i>
        <h2>Design</h2>
        <p>The Design Team gives the home its stylish flair with their designs of the interior spaces. They develop a language for the home that evokes comfort, functionality, and sustainability. Working in close collaboration with the other teams, the team
          ensures that their interior design exists in harmony with the home’s systems and vision.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-usd text-primary"></i>
        <h2>Business</h2>
        <p>The Business Team ensures the financial success of the project. This division has four core committees: the TOPL Team, the BCF Team and the Marketing Team and the Human Resources Team (recruitment and member management). Together, they manage
          the project by generating optimal solutions, and building a path for smooth progression and minimal waste.</p>
      </div>
    </div>
  </div> -->
<!-- </div> -->
